{% load custom_filters %}


<div id="tab_container">
    <table cellspacing="0" cellpadding="10px"> <tbody>
            <th>sample</th>
            {% for header in all_headers %}
            <th>{{header}}</th> 
            {% endfor %}
            <th><a href="{% url "dlDetailed" id %}">Detailed Count</a></th>

            {% for dir in dirs %}
            <tr class="{% cycle '' 'altrow' %}">
                <td>{{ dir }}</td>

                {% for key in all_headers %}
                <td>{{all_counts|dictvalue:dir|dictvalue:key}}%</td>
                {% endfor %}
                <td>
                    <button id="opener">open the dialog</button>
                    <a class="link" href="{% url 'chart' id dir  %}">View Chart</a>
                    <div class="display" ></div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3/ui/jquery-ui.js"></script>

    <script type="text/javascript">
        $(".link").click( function(event) {
            event.preventDefault();
            var that = this;
            var next = $(this).next(".display");
            if ($(next).is(":hidden")) {
                $(next).slideDown("slow",function() {
                    $(this).load($(that).attr("href"));
                    $(that).html("Remove Chart");
                    });
                } else {
                    $(next).hide();
                    $(that).html("View Chart")
                }
        })
    </script>

</div>
