{% extends "base.html" %}

{% block head %}
    <title>SymTyper</title>
    <link href="{{ STATIC_URL }}css/upload.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/view.css">
    {% if not done %}
        <meta http-equiv="refresh" content="30"/>
    {% endif %}
{% endblock %}

{% block body %}
    <div id="content">	
        {% if done %}	

            <div class="view-panel">

                <ul id="breadcrumb">
                    <li><a href="#" title="Dashboard"><img src="{{ STATIC_URL }}img/home.png" alt="Dashboard" class="home"></a></li>
                        <li><a href="#">Bread</a></li>
                        <li><a href="#">Crumbs</a></li>
                    </ul>

                    <div id="view-tabs">
                        <ul>
                            <li><a href="#view-data-tab">Summary</a></li>

                            <li><a href="{% url 'clades' id %}">Clades</a></li>

                            <li><a href="{% url 'subtypes' id %}">Subtypes</a></li>

                            <li><a href="{% url 'multiples' id %}">Resolved Multiples</a></li>

                            <li><a href="{% url 'tree' id %}">Placement Tree</a></li>

                        </ul>

                        <div id="view-data-tab">
                            <div style="text-align:left;padding-top:10px; padding-bottom:5px;font-weight:bold; border-width:1px;border-bottom-style:solid;font-size:1.2em;background-color:#FFFFFF;">Under Construction</div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(function() {
                            $("#view-tabs").tabs({
                                    cache:false,
                                    spinner: '<img src="{{ STATIC_URL }}img/ajax.gif"/>',
                                    show: { effect: "fadeIn",duration:800 } 
                            });
                        });
                    </script>		
                </div>			

                <!--div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all ui-helper-hidden-accessible"></div>-->
            {% else %}
                <p>SymTyper is Running and may take some time to finish. To see the
                    output when Symtyper is done please follow the link:<p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div id="loading">
                            <a href="{% url "status" id %}">http:/{% url "status" id %}</a>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
