{% load custom_filters %}

<div class="download">
    <a href="{% url "dlMultiples" id %}">
        <img alt="" title="Download List" src="{{ STATIC_URL }}img/download-large.png"> 
    </a>
</div>

<div id="tab_container">

    <div id="multiAccordion">
        {% for file in files %}

        <h3><a href="#">{{ file }}</a></h3>
        <div>

            <div style="text-align:left;padding-top:10px; padding-bottom:5px;font-weight:bold; border-width:1px;border-bottom-style:solid;font-size:1.2em;background-color:#FFFFFF;"><a href="#">Corrected</a></div>
            {% for key,value in correctedTable.items %}
            {% ifequal file key %}
            {% if value.1 %} 
            <table cellspacing="0" cellpadding="10px">
                <tbody>
                    {% for row in value.0 %}
                    <tr class="{% cycle '' 'altrow' as alt %}">
                        {% if forloop.first %}
                        {% for header in  value.1 %}
                        <th>{{ header }}</th>
                        {% endfor %}
                        </tr><tr class="{% cycle alt  %}">
                        {% endif %}

                        {% for header in value.1 %}
                        <td> {{ row| dictvalue:header }}  </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No Data Available</p>
            {% endif %}
            {% endifequal %}
            {% endfor %}


            <div style="text-align:left;padding-top:10px; padding-bottom:5px;font-weight:bold; border-width:1px;border-bottom-style:solid;font-size:1.2em;background-color:#FFFFFF;"><a href="#">Resolved</a></div>
            {% for key,value in resolvedTable.items %}
            {% ifequal file key %}
            {% if value.1 %} 
            <table cellspacing="0" cellpadding="10px">
                <tbody>
                    {% for row in value.0 %}
                    <tr class="{% cycle '' 'altrow' as alt %}">
                        {% if forloop.first %}
                        {% for header in  value.1 %}
                        <th>{{ header }}</th>
                        {% endfor %}
                        </tr><tr class="{% cycle alt  %}">
                        {% endif %}

                        {% for header in value.1 %}
                        <td> {{ row| dictvalue:header }}  </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No Data Available</p>
            {% endif %}
            {% endifequal %}
            {% endfor %}

        </div>
        {% endfor %}

    </div>


    <script type="text/javascript">
        $(function() {
                $('#multiAccordion').multiAccordion({
active: [
{% for file in files %}
{% for key,value in correctedTable.items %}
{% ifequal file key  %}
{% if value.1 %}
{{ forloop.parentloop.counter0 }}

{% else %}
{% for key2,value2 in resolvedTable.items %}
{% ifequal file key2  %}
{% if value2.1 %}
{{ forloop.parentloop.parentloop.counter0 }}
{% endif %}
{% endifequal %}
{% endfor %}

{% endif %}
{% endifequal %}
{% endfor %}
{% endfor %}
                ]
                });
$('#multiAccordion').multiAccordion("option", "active", [
        {% for file in files %}
        {% for key,value in correctedTable.items %}
        {% ifequal file key  %}
        {% if value.1 %}
        {{ forloop.parentloop.counter0 }}

        {% else %}
        {% for key2,value2 in resolvedTable.items %}
        {% ifequal file key2  %}
        {% if value2.1 %}
        {{ forloop.parentloop.parentloop.counter0 }}
        {% endif %}
        {% endifequal %}
        {% endfor %}

        {% endif %}
        {% endifequal %}
        {% endfor %}                   
        {% endfor %}
        ]);
});
</script>

</div>
