{% extends "base.html" %}
{% load custom_filters %}

{% block body %}

<div class="container">
    <div class="col-sm-12">
        <h2><a href="#" %}">{{ title }}</a></h2>
        {% if counts %}

        <div id="flip-scroll">
            <table class="table-bordered table-striped table-condensed cf">
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in counts %}
                    <tr class="{% cycle '' 'altrow' as alt  %}">
                        {% for header in headers %}
                        <td> {{ row | dictvalue:header }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No Data Available</p>
        {% endif %}
    </div>
</div>

{% endblock %}
