{% extends "base.html" %}
{% load custom_filters %}

{% block body %}
<div class="container">

    <h2><a href="#">Trees-{{ file }}</a></h2>
    <div>
        {% if counts %} 
        <table class="table-bordered table-condensed table-striped cf"> 
            <thead>
                <tr class="{% cycle '' 'altrow' as alt %}">
                    {% for header in  headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in counts %}
                <tr class="{% cycle alt  %}">
                    {% for header in headers %}
                    <td> {{ row| dictvalue:header }}  </td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Data Available</p>
        {% endif %}

    </div>
</div>
{% endblock %}
