{% extends "base.html" %}

{% block head %}
<title>File Form</title>
<!--<link href="{{ STATIC_URL }}css/upload.css" rel="stylesheet" type="text/css" media="all" />--!>
{% endblock %}

{% block body %}

<fieldset class="form-wrapper">
    <legend>SymTyper:</legend>

    <form enctype="multipart/form-data" method="post" action=".">
        <label class="label" for="id_fasta_File">Fasta File:</label>
        {{ form.fasta_File }}

        <label class="label" for="id_sample_File">Id File:</label>
        {{ form.sample_File }}

        <input type="submit" value="Submit"/>
        {% csrf_token %}

    </form>
</fieldset>
{% endblock %}
