{% extends "base.html" %}
{% load widget_tweaks %}

{% block head %}
<title>File Form</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <h2>Under Construction</h2>
                <p>
                usage: symTyper.py [-h] [-v] [-t THREADS] {clade,subtype,resolveMultipleHits,builPlacementTree,stats} ...

                </p>
                <p>
                symTyper Description

                </p>
                <p>
                positional arguments: {clade,subtype,resolveMultipleHits,builPlacementTree,stats} Available commands
                </p>

                <p>
                positional arguments: {clade,subtype,resolveMultipleHits,builPlacementTree,stats} Available commands
                optional arguments: -h, --help show this help message and exit -v, --version show program's version number and exit -t THREADS, --threads THREADS
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" placeholder="http://hmmer/112.1382325231.99/" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well">
                <div class="col-md-12">
                    <form role="form" enctype="multipart/form-data" method="post" action=".">

                        <div class="form-group{% if form.fasta_File.errors %} has-error{% endif %}">
                            <label for="id_fasta_File">Fasta File:</label>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse...
                                        {{ form.fasta_File }}
                                    </span>
                                </span>
                                <input class="form-control" type="text" readonly="">
                            </div>

                            {% if form.fasta_File.errors %}
                            <span class="help-block">
                                <ol>
                                    {% for error in form.fasta_File.errors %}
                                    <li><strong> {{ error|escape }} </strong></li>
                                    {% endfor %}
                                </ol>
                            </span>
                            {% endif %}
                        </div>


                        <div class="form-group{% if form.sample_File.errors %} has-error{% endif %}">
                            <label for="id_sample_File">Id File:</label>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file"> 
                                        Browse...
                                        {{ form.sample_File }}
                                    </span>
                                </span>
                                <input class="form-control" type="text" readonly="">
                            </div>

                            {% if form.sample_File.errors %}
                            <span class="help-block">
                                <ol>
                                    {% for error in form.sample_File.errors %}
                                    <li><strong> {{ error|escape }} </strong></li>
                                    {% endfor %}
                                </ol>
                            </span>
                            {% endif %}

                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document)
    .on('change', '.btn-file :file', function() {
            var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
            });
$(document).ready( function() {
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
            if( input.length ) {
            input.val(log);
            } else {
            if( log ) alert(log);
            }
            });
        }); 
</script>

{% endblock %}

